.navbar {
    background-color: black !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

.navbar .navbar-nav {
    float: none;
    margin: 0 auto;
    text-align: center;
}
  
.navbar .navbar-collapse {
    text-align: center;
}

.navbar .nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.section {
    height: 100vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex-direction: column;
    padding: 20px; 
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    transition: 0.5s;
}

#aboutme, #projects, #work-experiences, #contact {
    display: block;
}

.nav-link.active {
    color: white;
}

.navbar-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

/*============================== Home Page ==============================*/
.home-name {
    font-weight: 500;
}

.tagline {
    color: aqua;
}

#home p { 
    font-size: large;
}

.btn-style {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:20px;
    padding-right: 20px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 500;
    align-items: center;
    display: flex;
    align-content: center;
    font-size: large;
}

.btn-style:hover {
    color: black;
    background-color: white;
    transition: color 0.5s, background-color 0.5s;
}

.btn-style i {
    margin-right: 10px;
    font-size: 1.3rem;
}

/*============================== About Me ==============================*/
#aboutme .profile-pic {
    width: 70%;
    height: 70%;
    clip-path: circle();
}

#aboutme p {
    line-height: 1.8rem;
}

/* CustomTabs.css */
#aboutme .nav-tabs {
    border-bottom: none;
}

#aboutme .nav-tabs .nav-link {
    border: none;
    background-color: transparent;
    color: white;
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
}

#aboutme .nav-tabs .nav-link.active {
    border: none;
    background-color: transparent;
    color: white;
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
}

#aboutme .nav-tabs .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: aqua;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

#aboutme .nav-tabs .nav-link.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#aboutme .nav-tabs .nav-link:hover::after {
    transform: scaleX(0); 
}

.text-grey {
    color: grey;
    padding-bottom: 10px;
    font-weight: 500;
}

/*============================== Skills Page ==============================*/
#skills .button {
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #555555;
}

#skills .button.active {
    color: black;
    background-color: white;
    border: none;
}

#skills .button:hover {
    border: 1px solid white;
    transition: border 0.4s;
}

#skills .button.active:hover {
    border: none;
}

#skills .skills-box {
    border: 2px solid #555555;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    display: block;
    margin-left: 10px;
    text-align: center;
}

#skills .active-skills-box {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    display: block;
    margin-left: 10px;
    text-align: center;
}

.icon-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

#skills .skills-box:hover {
    border: 2px solid white;
    transition: border 0.4s;
    cursor: pointer;
}

.icon-container .tooltip {
    font-size: 19px;
    font-weight: 500;
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.icon-container .tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#skills .soft-skills-icon {
    font-size: 2.4rem;
}

#skills .skills-box h4 {
    padding-top: 20px;
    padding-bottom: 10px;
}

/*============================== Projects Page ==============================*/
.project-section {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 600px; /* Adjust height as needed */
}

.project-container {
    position: absolute;
    bottom: 50px;
    left: 40px;
    z-index: 10; /* Ensures the project container is above the image */
    max-width: 50%;
}

.project-info {
    padding: 10px 20px;
    background-color: #4169E1;
    color: white;
    border-radius: 10px;
}

.project-description {
    font-size: 1em;
    margin: 10px 0;
}

.project-note {
    color: yellow;
    font-weight: bold;
}

.project-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 70%;
    height: 10px !important;
    padding-top: 40px;
}

.project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-featured {
    color: aqua;
}

.project-title {
    padding-top: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.project-title button {
    font-size: 1.7rem !important;
    margin-left: 15px;
    background-color: transparent;
    color: white;
    clip-path: circle();
}

.project-title button:hover {
    color: cyan;
    transition: color 0.4s ease-in-out;
}

/*============================== Work Experience Page ==============================*/
.vertical-line-icon {
    display: table;
    height: 100%;
}
.vertical-line-icon:after {
    content: '';
    display: table;
    margin: 0 10px;
    width: 2px;
    height: 90%;
    background-color: #555555;
    margin-top:5px;
}
.last-vertical-line:after {
    height: 65% !important;
}
.work-box {
    border: 2px solid #555555;
    border-radius: 20px;
    padding: 15px 20px;
    display: block;
    margin-left: 10px;
}
#work-experiences .grey-text {
    color: grey;
    font-weight: 500;
    font-style: italic;
    font-size:18px;
}


/*============================== Contact Page ==============================*/
.social-icon a {
    color: white;
    background-color: black;
    border: solid 2px white;
    border-radius: 50%;
    margin: 10px;
    padding: 20px;
    display: inline-flex;
    line-height: 1;
}

.social-icon a:hover {
    color: black;
    background-color: white;
    border: solid 2px white;
    transition: color 0.5s, background-color 0.5s;
}

.bigger-icon {
    font-size: 35px;
}

#contact form {
    background: black;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid white;
}

#contact form label {
    color: #bbb;
}

#contact form input, #contact form textarea {
    background: black;
    color: white;
    border: 1px solid white;
}

#contact form input::placeholder, form textarea::placeholder {
    color: grey !important;
    font-style: italic;
}

#contact form button {
    background: white;
    color: black;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 500;
    width: 100%;
}

/*============================== Animation ==============================*/
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
  
.nav-link {
    opacity: 0; /* Start hidden */
    animation: slideInFromTop 0.5s forwards; /* Slide in and keep the final state */
}
  
.nav-link:nth-child(1) {
    animation-delay: 0.3s;
}
  
.nav-link:nth-child(2) {
    animation-delay: 0.6s;
}

.nav-link:nth-child(3) {
    animation-delay: 0.9s;
}

.nav-link:nth-child(4) {
    animation-delay: 1.2s;
}

.nav-link:nth-child(5) {
    animation-delay: 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#home h1, #home p, #home img, #home span, #home .btn-style {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

#home h1, #home span, #home p, #home .btn-style {
    animation-delay: 1.5s; 
}

#home img {
    animation-delay: 2s;
}

.animated-picture {
    animation: slideIn 3s ease-in-out;
}

@media (max-width: 968px) {
    .section {
        height: auto;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
        padding-top: 60px; /* Adjust for fixed navbar */
        padding-bottom: 60px;
    }
    
    .scroll-container {
        overflow-y: auto;
        scroll-snap-type: none;
        -webkit-overflow-scrolling: none;
        transition: 0.5s;
    }

    .home-left-section {
        text-align: center;
    }

    .home-left-section button {
        margin-left: auto;
        margin-right: auto;
    }

    .project-section {
        height: auto; /* Adjust height for smaller screens */
        padding: 20px;
    }

    .project-container {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        padding: 20px;
        margin-bottom: 20px;
    }

    .project-image {
        display: none;
    }

    .project-title {
        font-size: 1.5em;
    }

    .project-title button {
        font-size: 1.5rem !important;
    }
}

